@page "/"

<PageTitle>Home</PageTitle>

<h1>Bem-vindo ao Sistema de Controle de Lava a Jato</h1>

<p>Este sistema permite gerenciar e monitorar as atividades do seu lava a jato, incluindo o registro e a movimentação de carros, além de acompanhar estatísticas importantes.</p>

<h3>Funcionalidades Principais</h3>
<ul>
    <li><strong>Cadastro de Carros:</strong> Adicione novos carros ao sistema.</li>
    <li><strong>Edição de Carros:</strong> Atualize as informações dos carros cadastrados.</li>
    <li><strong>Busca de Carros:</strong> Encontre carros pela placa.</li>
    <li><strong>Movimentações:</strong> Registre as movimentações de carros, como lavagens.</li>
    <li><strong>Dashboard:</strong> Veja estatísticas como o número de carros lavados e o valor total obtido.</li>
</ul>
